.journey-image {
    background: url(https://jacrhisiart.tk/10-12.jpg) no-repeat center center fixed;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
} This is some of the css
.journey-text {
    text-align: center ;
    font-size: 2em;
    padding: 1.5em;
    border-radius: 10px;
}
